<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'article_list' %}">
            <i class="fas fa-newspaper me-2"></i>NewsHub
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article_list' %}">
                        <i class="fas fa-home"></i> Accueil
                    </a>
                </li>
                {% if user.is_authenticated and user.is_editor %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article_create' %}">
                        <i class="fas fa-plus-circle"></i> Nouvel article
                    </a>
                </li>
                {% endif %}
            </ul>
            
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user-circle"></i> {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if user.is_admin %}
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">
                            <i class="fas fa-cog"></i> Administration
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i> Déconnexion
                        </a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        <i class="fas fa-sign-in-alt"></i> Connexion
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>